@import url('./components/Header/header.css');
@import url('./components/Search/search.css');
@import url('./components/Main/main.css');
@import url('./components/UserCard/userCard.css');

/* svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  background: url('../src/assets/img/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 5px 0;
}

.container {
  max-width: 1280px;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 0 0;
  margin: 0 auto;
  overflow: hidden;
}
